.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:left;}
.fclear {clear:both}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
body {margin:0;padding:0;background:#191E1A;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#FCFFFD}
h1, h2, h3 {margin-top:0;color:#123456}
h1 {font-size:2em}
h2 {font-size:1.6em}
h3 {font-size:1em}
ul {}
a {text-decoration:none;color:#fff font-size:1.6em}
a:hover {border-bottom:none}
a img {border:none}
img.left {float:left;margin:0 20px 0 0}
img.right {float:right;margin:0 0 0 20px}

/* Header */
#header {width:100%;height:210px}
#logo {width:1000px;height:150px;margin:0 auto;padding:0 10px}
#logo h1, #logo p {float:left;margin:0;color:#000000}
#logo h1 {padding:80px 0 0 0;font-weight:normal;font-size:3em}
#logo p {text-transform:uppercase;padding:102px 0 0 3px;font-size:10px;color:#fff}
#logo a {border:none;text-decoration:none;color:#fff}

/* Menu */
#menu-bg {background:#123456;height:60px}
#menu {width:1000px;margin:0 auto}
#menu ul {margin:0;padding:0;list-style:none}
#menu li {display:inline }
#menu h3 {font-size: 2em; color: #000}
#menu a {display:block;float:left;margin:0 10px 0 0;padding:12px 15px 10px 15px;border:none;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFFFFF}
#menu a:hover {margin:0 3px 0 0;background:#fff;border-bottom:3px solid #DDBB04;color:#654321}

/* Wrapper */
#wrapper {}

/* Page */
#page {width:1300px;margin:0 auto;padding:30px 0}
#page-bg {padding:11px 24px}

/* Latest Post */
#latest-post {border:1px dashed #8D8D8D}

/* Content */
#content {float:left;width:498px;padding-right:20px}
.post {margin-bottom:20px;padding-bottom:15px;line-height:200%}
.post h1 {font-weight:normal;font-size:30px}
.post h2 {font-size:24px}
.title {margin:0;padding:15px 0 0 0;font-weight:normal}
.title a {border-bottom:none}
.title a:hover {color:#FBD900}
.byline {margin:0 0 20px 0;text-transform:uppercase}
.entry {padding:0 0}
.links {font-size:11px}
.links a {display:block;border:none;color:#fff}
.links a:hover {}
.links .more {float:right;text-transform:uppercase}
.links .comments {float:left;padding-left:20px}

/* Sidebars */
#sidebar1 {padding-right:20px}
.sidebar {float:left;width:498px;padding:0 0 0 21px}
.sidebar img {margin-left: 10px}
.sidebar ul {margin:0;padding:0;list-style:none}
.sidebar li {padding:0 0 20px 0}
.sidebar li ul {padding:0 15px;font-size: 1em}
.sidebar li li {padding:8px 0 8px 0;background:url(images/img01.jpg) repeat-x left bottom}
.sidebar li li a:hover {color:#FBD900}
.sidebar li h2 {margin:0 0 10px 0;padding:10px 15px 10px 15px;background:#1E3227;font-size:16px;font-weight:normal;color:#fff}
.sidebar p {padding:0 15px}
.sidebar a {color:#FBD900}

/* Search */
#searchform {margin:0;padding:20px 15px}
#searchform br {display:none}
#s {margin:0;padding:2px 2px;width:165px;height:18px;border:none;background:#fff;font-size:10px;color:#000}
#x {margin:1px 0 0 0;padding:2px 5px;height:24px;border:none;background:#000;text-decoration:none;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#fff}

/* Footer */
#footer-content {width:1000px;margin:0 auto}
#footer {background:#0D170F;height:50px}
#footer p {margin:0;padding:20px 10px 0 10px;text-transform:uppercase;font-size:10px;color:#FBD900}
#footer a {color:#FBD900}
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
		color: #123456 !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 3em;
		line-height: 3em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

